@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "reset.css";
@import "variables.css";

/*Components*/
@import "components/header.css";
@import "components/background.css";
@import "components/slideshow.css";
@import "components/button.css";
@import "components/effect.css";
@import "components/footer.css";
@import "components/media-query.css";


body {
    font-family: 'Open Sans', sans-serif;
    word-break: keep-all;
}

/*first slide*/
main {
    background-image: url(../image/photo-1.jpg);
    width: 100%;
    height: 100vh;
    position: relative;
}
.side-bar {
    position: absolute;
    background-color: rgba(89,120,148,0.5);
    width: 35%;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: center;
}
.side-bar__comment {
    margin-right: 140px;
}

.slide-right {
	animation: slide-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

h1 {
    color: var(--bg-color);
    font-size: 40px;
}
h2 {
    float: right;
    color: var(--bg-color);
    font-size: 30px;
    margin-top: 15px;
}
.main__name {
    font-size: 70px;
}

/*second slide*/
.introduce {
    background-color: var(--bg-color);
    width: 100%;
    height: 60vh;
    position: relative;
}
.introduce__left {
    position: absolute;
    background-color: black;
    width: 35%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introduce__left__comment {
    margin-bottom: 60px;
}
.introduce__left__comment > h1 {
    border-bottom: 1px solid var(--bg-color);
    padding-bottom: 40px;
    margin-bottom: 40px;
    font-size: 50px;
}

.introduce__right {
    position: absolute;
    right: 0;
    width: 65%;
    height: 60vh;
    background-color: var(--bg-color);
    display: flex;
    justify-content: left;
    align-items: center;
}
.introduce__right__comment {
    width: 450px;
    margin: 0 0 100px 15%;
}
.comment__main {
    font-size: 30px;
    margin-bottom: 30px;
}
.comment__sub {
    font-size: 18px;
}

/*image slide*/
.image-bar {
    background-image: url(../image/photo-2.jpg);
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: last baseline;
}
.thirth-slide-title {
    background-color: var(--bg-color);
    width: 50%;
    height: 23vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thirth-slide-title > span {
    font-size: 50px;
    color: #00305b;
}

/*thirth slide*/
.achievements {
    background-color: var(--bg-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.achievements__boxes {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.achievements__box {
    width: 60vh;
    height: 60vh;
    margin: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
}
.achievements__box > span {
    font-size: 20px;
    font-weight: 500;
    display: none;
}
.fir-box {
    background-image: url(../image/리비아\ 대수로공사\ 참여.png);
}
.sec-box {
    background-image: url(../image/부산역\ 1\,2단계\ 공사.png);
}
.thi-box {
    background-image: url(../image/인천공항3단계공사\ 설계참여.png);
}
.four-box {
    background-image: url(../image/KTX\ 신포항역\ 검수시설\ 검수고.png);
}
.achievements__box:hover {
    background-color: var(--bg-color);
    opacity: 0.4;
    transition: 0.4s ease-in-out;
}
.achievements__box:hover > span {
    display: block;
}


/*fourth slide*/
.department {
    background-color: var(--bg-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fourth-slide-title {
    margin-bottom: 30px;
}
.fourth-slide-title > span {
    font-size: 50px;
    color: #00305b;
}
.department__boxes {
    display: flex;
    justify-content: center;
    align-items: center;
}
.department__box {
    width: 400px;
    height: 600px;
    background-color: #e4e4e4;
    margin: 10vh;
}
.department__box__image {
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}
.design {
    background-image: url(../image/설계부.jpg);
}
.supervisement {
    background-image: url(../image/감리부.webp);
}
.cunsulting {
    background-image: url(../image/시공\ 컨설팅.jpg);
}
.department__box__comment {
    width: 400px;
    height: 200px;
}
.comment__box {
    margin: 25px;
}
.department__box__comment span {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}
.department__box__comment span:first-child {
    font-size: 23px;
    margin-bottom: 20px;
}

.second-bg {
    background-image: url(../image/photo-4.jpg);
}

