/*subject*/
.container {
    margin: 145px 10%;
}
.sub-title {
    text-align: center;
    font-size: 60px;
    margin-bottom: 60px;
    color: var(--title-color);
}

/*overview area*/
.title-area {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    width: 100%;
    float: none;
    margin: 50px;
}
.title > span {
    display: inline-block;
    font-size: 28px;
    line-height: 48px;
}
.title > span > strong {
    font-weight: 600;
    margin-right: 10px;
    font-size: 30px;
}
.title__logo {
    margin: 50px 80px;
}
.title__logo > img {
    display: block;
    width: 400px;
    height: 400px;
}

.title__introduce {
    margin-top: 100px;
    width: 90%;
}
.title__introduce > span {
    display: inline-block;
    margin-bottom: 20px;
    line-height: 23px;
    font-size: 18px;
    font-weight: 520;
}
.ceo {
    margin: 20px 0;
    font-weight: 550;
}
.ceo > strong {
    padding-left: 20px;
    font-weight: 600;
    font-size: 20px;
}

/*history page*/
.history-area p {
    font-size: 18px;
    line-height: 50px;
    margin-left: 20%;
}
.history-area p strong {
    font-size: 20px;
    font-weight: 600;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid var(--border-color);
    color: var(--title-color);
}

/*location page*/
.location__map iframe {
    width: 100%;
    height: 500px;
}
.address {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.address__name {
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 25px;
}
.address__list ul {
    line-height: 30px;
}
.address__list ul li p strong {
    font-weight: 600;
    padding-left: 5px;
    padding-right: 15px;
}
.address__list ul li:first-child p strong {
    padding-right: 9px;
}

.bus {
    background-color: #53b42b;
    color: var(--bg-color);
    display: block;
    float: left;
    font-size: 13px;
    width: 40px;
    height: 20px;
    text-align: center;
    margin: 3px 10px 3px 14px;
    border-radius: 3px;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bus__num {
    font-weight: 550;
}
.bg2 {
    background-color: #00afbd;
}
.bg3 {
    background-color: #ff0000;
}