@media screen and (max-width: 1700px) {
    .department__boxes {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 1000px) {
    .main__name {
        font-size: 10px;
    }
}