@media screen and (max-width: 1024px) {
    .title-area {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .history-area {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }
    .title__introduce {
        margin-top: 10px;
        width: 90%;
    }
    .address {
        display: flex;
        flex-direction: column;
    }
    .how-to-go {
        margin-top: 50px;
    }
    
}
@media screen and (max-width: 1250px) {
    .project-list {
        grid-template-columns: repeat(3, 1fr);
    }
}